/* CSS styles */

/* Layout - Columns  */
/* width, float, padding, margin, clear
*/

header {
	float: left;
	width: 55%;
	margin: 1em;
	padding: .5em;
	clear: left;
}

article {
	float: left;
	width: 40%;
	margin: 1em;
	padding: .5em;
	clear: left;
}

aside {
	float: left;
	width: 30%;
	margin: 1em;
	padding: .5em;
}




/* Main Style information */
body {
	background-image: url ("images/cat_icon.png");
	bacground-position: top-left;
	background-repeat: no-repeat;
	background: #e0f3fa;
	background: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 27%, #b8e2f6 74%, #b6dffd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(27%,#d8f0fc), color-stop(74%,#b8e2f6), color-stop(100%,#b6dffd));
	background: -webkit-linear-gradient(top, #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 74%,#b6dffd 100%);
	background: -o-linear-gradient(top, #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 74%,#b6dffd 100%);
	background: -ms-linear-gradient(top, #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 74%,#b6dffd 100%);
	background: linear-gradient(to bottom, #e0f3fa 0%,#d8f0fc 27%,#b8e2f6 74%,#b6dffd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
	 }
	 
@font-face {
			font-family:Ubuntu;
			link: http://fonts.googleapis.com/css?family=Ubuntu
			}

/* Commenting out the original layout.*/

div {
		border-width: 2px;
		border-color: #000000;
		opacity: 0.9;
		padding: 35px;
		margin: 10px auto;
		border-radius: 10px;
		-moz-border-radius: 10px;
		box-shadow: -2px -3px #777777;
		background-image: url ("images/light-tile.gif");
		background-repeat: repeat-x;
}

/* Heading and body Style information */

h1, h2, h3 {
	color: #679394;
		}

h1, h2 {
		font-family: Ubuntu, Arial, Sans-Serif;
		text-shadow: 2px 1px 2px #000000;
		}

h1 {
	font-size: 3.5em;
	font-weight: Bold;
	}

h2 {
	font-size: 1.5em;
	font-style: Italic;
	
	}

body {
	font-family: Arial, Sans-Serif;
	font-size: 80%;
	text-align: left;
	}

li {
	margin: 2%;
	display: inline;
	width: 50%;
	text-align: left;
	}

p {
	line-height: 1.4em;
	}

/* Link Style information */

a:link {
	color: #000000;
		}
		
a:visited {
	color: #997B4C;
		}
		
a:hover {
	color: #91CCCB;
		}
		
a:active {
	color: #679394;
		}
		
		
/* List Style */

ol {
	list-style-type: upper-alpha;
	}
	

/* Table Properties */

table {
	width: 250px;
		}
		
th, td {
	padding: 4px 8px 8px 8px;
	text-align: center;
	}
	
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 79%;
	border-bottom: 1px solid #111111;
	border-top: 1px solid #999;
	text-align: center;
	}

tr.even {
	background-color: #ffffff;
	}
	
tr:hover {
	background-color: #f5ec5c;
	}


/* Form Properties */


form {
	width: 300px;
	background-color: #ffffff;
	padding: 4px 8px 8px 8px;
	text-align: left;
	font-size: 82%;
		}

input.submit:hover {
	background-color: #f5ec5c;
		}

input.text:focus {
	color: #000000;
		}







