/* CSS styles */

/* Main Style information */
body {
	background-image: url("../images/light-tile.gif");
	background-repeat: repeat;
	background-position: center left;
	background-attachment: fixed;
	 }
	 
@font-face {
			font-family:Ubuntu, Arial, Sans-Serif;
		
			}		
/* Wrapper for page */			
.wrapper {
	
	width: 960px;
	margin: 20px auto 20px auto;
	background-color: #f5f5f0; 
	border-radius: 10px;
	-moz-border-radius: 4;
	box-shadow: -2px -3px #777777;	
	border-width: 5px;
	border-color: #000000;
	
	}
	
/* HTML 5 Sections */	
 section{
	float:left;
	width: 56%;
	padding: 5px;
	border-radius: 10px;
	-moz-border-radius: 4;
	box-shadow: -2px -3px #777777;
	margin: 2%;
	border-width: 5px;
	border-color: #000000;
	clear: both;
	}

aside{
	float:left;
	width: 30%;
	padding: 5px;
	border-radius: 10px;
	-moz-border-radius: 4;
	box-shadow: -2px -3px #777777;
	margin: 2%;
	border-width: 5px;
	border-color: #000000;
	background-image: -webkit-linear-gradient(#e9f6fd, #d3eefb);
	}	
	
nav, footer {
	clear: both;
	background-color: #f5f5f0;
	height: 30px;
	padding: 5px;
	}
	

/* Background Images  */
section {
	background-image: url("../images/pattern_038.gif");
	background-repeat: repeat;
	background-position: center top;

	}
	
	
/* Table Properties */
table {
	width: 150px;
	background-color: #fff;
	}

th, td {
	padding: 7px 10px 10px 10px;
	}

th {
	font-size: 95%;
	text-transform: uppercase;
	border-bottom: 2px solid #000;
	border-top: 1px solid #000;
	text-align: left;
	}

tr.even {
	background-color: #efefef;
	}

tr:hover {
	background-color: #e9f6fd;
	}
	
/* Form Styles */

form {
	background-color: #f6f6f1;
	width:400px ;
	margin: 1px;
	border-width: 5px;
	border-color: #fff;
	}

.title {
	float: left;
	width: 75px;
	text-align: left;
	padding-right: 5px;
	font-size:95%;
	
	}
/* Hover and Focus */

input[type="select"]:focus, input[type="select"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999;
	}

input[type="email"]:focus, input[type="email"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999;
	}

input[type="text"]:focus, input[type="text"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999;
	}

input[type="radio"]:focus, input[type="radio"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999;
	}

input[type="textarea"]:focus, input[type="textarea"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999;
	}

input[type="submit"]:focus, input[type="submit"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999;
	}
	
/* Heading and body Style information */

h1, h2 {
	color: #FFCAAD;
		}

h1, h2 {
		font-family: Ubuntu, Arial, Sans-Serif;
		text-shadow: 2px 1px 2px #000000;
		}

h1 {
	font-size: 2.375em;
	font-weight: Bold;
	}

h2 {
	font-size: 1.5em;
	font-style: Italic;
	
	}

body {
	font-family: Arial, Sans-Serif;
	font-size: 80%;
	text-align: left;
	}
	
p {
	line-height: 1.3em;
		}

ul li {
	display: inline;
	text-align: left;
	padding: 5px
	}

/* Link Style information */

a:link {
	color: #000000;
		}
		
a:visited {
	color: #997B4C;
		}
		
a:hover {
	color: #91CCCB;
		}
		
a:active {
	color: #679394;
		}