/* CSS styles */

/* Main Style information */
body {
	 background: #FFFFFF; 
	 opacity: 1;
	 width: 80%;
	 }
	 
@font-face {
			font-family:Ubuntu, Arial, Sans-Serif;
		
			}
.wrapper {
	background: linear-background (#e9f6fd, #d3eefb);

	}


div {
		
		margin: 1%;
		border-width: 5px;
		border-color: #000000;
	    background-color: #79B397;
		border-radius: 10px;
		-moz-border-radius: 4;
		box-shadow: -2px -3px #777777;
	}	

 #secondary, #images_column{
	float:left;
	width: 40%;
	padding: 5px;
	}

/* Background Images  */
#images_column {
	background-image: url ("../images/pattern_038.gif");
	background-repeat: no repeat;
	background-position: center top;

	}

#secondary {
	background-image: url ("../images/light-tile.gif");
	background-repeat: repeat y;
	background-position: center left;

	}

/* Gradient Background */







/* Heading and body Style information */

h1, h2 {
	color: #FFCAAD;
		}

h1, h2 {
		font-family: Ubuntu, Arial, Sans-Serif;
		text-shadow: 2px 1px 2px #000000;
		}

h1 {
	font-size: 2.375em;
	font-weight: Bold;
	}

h2 {
	font-size: 1.5em;
	font-style: Italic;
	
	}
h3 {
	color: #000000;
		}

body {
	font-family: Arial, Sans-Serif;
	font-size: 80%;
	text-align: left;
	}
	
p {
	line-height: 1.3em;
		}

ul li {
	display: inline;
	text-align: left;
	}

/* Link Style information */

a:link {
	color: #000000;
		}
		
a:visited {
	color: #997B4C;
		}
		
a:hover {
	color: #91CCCB;
		}
		
a:active {
	color: #679394;
		}