/*------ Document -----*/

body {
	margin: 0 auto;
	padding: 0;
	font: .75em/1.5em Helvetica, Arial, sans-serif;
	color: #797267;
	width: 960px;
	background: #797267;
}


/*------ Header  -----*/

header {
	background: url("../images/logo.gif")no-repeat 64px, 
		url("../images/header-bg.jpg") no-repeat top center;
	height: 210px;
}


/*------ Nav -----*/

nav{
	text-align: right;
	margin: 84px 64px 0px 0px;
}


ul {
	list-style: none;
	text-decoration: none;

}


ul li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px;

}



/*------ Main Content -----*/






/*------ Section -----*/








/*------ Footer -----*/







/*------ Fonts -----*/

h1 {
	text-indent: -9999px;
	width: 960px;
	magin: 0px;
}

/*------ Link Style -----*/

a:link {
	color: #423b2e;
	text-decoration: none;
	}
		
a:visited {
	color: #7c1d04;
	text-decoration: none;
	}
		
a:hover {
	color: #bf3102;
	text-decoration: none;
	}
		
a:active {
	color: #bf3102;
	text-decoration: none;
	}
