/*------ Document -----*/

body {
	margin: 0 auto;
	padding: 0;
	font: .75em/1.5em Helvetica, Arial, sans-serif;
	color: #797267;
	width: 960px;
	background: #797267;
}


/*------ Header  -----*/

header {
	background: url("../images/logo.gif")no-repeat 64px, 
		url("../images/header-bg.jpg") no-repeat top center;
	height: 210px;
	clear:both;
	
}


/*------ Nav -----*/

nav{
	text-align: right;
	margin: 84px 64px 0px 0px;
}


ul {
	list-style: none;
	text-decoration: none;

}


ul li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px;

}



/*------ Main Content -----*/

#main-content{
	clear:both;
	background-image: url("../images/main-content-bg.jpg");
	background-repeat: repeat-y;
	height: 800px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;

}

#banner{
	background-image: url("../images/banner.jpg");
	height: 210px;
	width: 890px;
	background-position: center center;
	margin: auto;
}

/*------ Section -----*/

#column1of2{
	float: left;
	width: 260px;
	padding: 25px;
	margin: 0px 22px 45px 64px ;
}


#column1of2 p{
	border-bottom: 1px solid #000;
}


#column2of2{
	float: left;
	width: 450px;
	padding: 25px;
	margin: 0px 0px 45px 22px;
}


#column2of2.page-flip{
	background-image: url("../images/page-flip.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 45px 0px 45px 11px;
}


#column1of2.page-flip{
	background-image: url("../images/page-flip.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 45px 0px 45px 11px;
}

/*------ Section Images -----*/
img{
	border: 5px solid #fff;
	margin: 5px;
	text-align: middle;
	
}

/*------ Footer -----*/
footer{
	background-image: url("../images/footer-bg.jpg");
	background-repeat: no-repeat;
	height: 92px;
	overflow:hidden;
}

/*------ Fonts -----*/

h1 {
	text-indent: -9999px;
	width: 960px;
	magin: 0px;
}

h2 {
	color: #423b2e;
	font-size: 1.5em;
	border-bottom: 1px solid #000;

}

footer{
	color: #423b2e;
	font-size: 0.9em;
	text-align: center;
	
}



/*------ Link Style -----*/

a:link {
	color: #423b2e;
	text-decoration: none;
	}
		
a:visited {
	color: #7c1d04;
	text-decoration: none;
	}
		
a:hover {
	color: #bf3102;
	text-decoration: none;
	}
		
a:active {
	color: #bf3102;
	text-decoration: none;
	}
