/*------ Document -----*/

body {
	margin: 0 auto;
	padding: 0;
	font: .75em/1.5em Helvetica, Arial, sans-serif;
	color: #797267;
	width: 960px;
	background: #797267;
}


/*------ Header and Nav -----*/

header {
	background-image: url("../images/header-bg.jpg");
	width: 960px;
	height: 210px;
	clear: both;
}

nav {
	
}



/*------ Main Content -----*/

main-content {
	background-image: url("../images/main-content-bg.jpg");
	background-repeat: repeat-x;
	width: 890px;
	
}

banner{
	background-image: url("../images/banner.jpg");
	width: 890px;
	height: 200px;

}

section{


}


/*------ Section -----*/








/*------ Footer -----*/









/*------ Fonts -----*/